<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>407912352109-9ufd0sdkd84absgqgbh6pai1fi1rcaqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407912352109-9ufd0sdkd84absgqgbh6pai1fi1rcaqe</string>
	<key>API_KEY</key>
	<string>AIzaSyD32F2jRE6N96DND3pe6NaNbaoMsxNZN-k</string>
	<key>GCM_SENDER_ID</key>
	<string>407912352109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>no.simonpedersen.ionfire</string>
	<key>PROJECT_ID</key>
	<string>ionfire-7551a</string>
	<key>STORAGE_BUCKET</key>
	<string>ionfire-7551a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407912352109:ios:dc88e043396c5d99</string>
	<key>DATABASE_URL</key>
	<string>https://ionfire-7551a.firebaseio.com</string>
</dict>
</plist>